#menugeral{
     -fx-background-image: url(images/menu.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 15px;
  -fx-background-position: center;
   -fx-background-radius: 5.0; 
}

#menulogin{
    -fx-background-radius: 5.0; 
}
